<div class="container">
	<h2>Reset Password</h2>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
		<div class="form-froup">
			<label for="username">Username*</label>
			<input type="text" id="username" class="form-control" formControlName="username">
            <div class="helper-block" *ngIf="resetPasswordForm.get('username').invalid && resetPasswordForm.get('username').touched">
                <div [ngSwitch]="true">
                    <div *ngSwitchCase="resetPasswordForm.get('username').errors.required">Username is required!</div>
                    <div *ngSwitchCase="resetPasswordForm.get('username').errors.noUsername && !resetPasswordForm.get('username').errors.required">Username <i>{{ resetPasswordForm.get('username').value }}</i> is not found!</div>
                </div>
            </div>
		</div>
		<div class="form-froup">
			<label for="password">Password*</label>
			<input type="password" id="password" class="form-control" formControlName="password">
            <div class="helper-block" *ngIf="resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched">
                <div [ngSwitch]="true">
                    <div *ngSwitchCase="resetPasswordForm.get('password').errors.required">Password is required!</div>
                    <div *ngSwitchCase="resetPasswordForm.get('password').errors.short">Password should be minimum 6 char long!</div>
                    <div *ngSwitchCase="resetPasswordForm.get('password').errors.long">Password is too long!</div>
                    <div *ngSwitchCase="resetPasswordForm.get('password').errors.number">Password should contain atleast 1 number!</div>
                    <div *ngSwitchCase="resetPasswordForm.get('password').errors.letter">Password should contain atleast 1 letter!</div>
                    <div *ngSwitchCase="resetPasswordForm.get('password').errors.specialChar">Password should contain atleast 1 special char!</div>
                </div>
            </div>
		</div>
		<div class="form-froup">
			<label for="confirmPassword">Confirm Password*</label>
			<input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
            <div class="helper-block" *ngIf="resetPasswordForm.get('confirmPassword').invalid && resetPasswordForm.get('confirmPassword').touched">
                <div [ngSwitch]="true">
                    <div *ngSwitchCase="resetPasswordForm.get('confirmPassword').errors.required">Confirm Password is required!</div>
                    <div *ngSwitchCase="resetPasswordForm.get('confirmPassword').errors.misMatch">Password and Confirm Password should be same!</div>
                </div>
            </div>
		</div>
		<div class="mt-2">
			<button type="button" class="btn btn-warning mr-1" (click)="close()">Cancel</button>
			<button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset</button>
		</div>
	</form>
    <div class="bg-light mt-3">
        <span> Already have an account? <a href="#" [routerLink]="['/login']" [queryParams]="{ u: 'user' }">Login</a> here.</span>
    </div>
</div>