<div class="container">
    <ul class="nav nav-tabs nav-fill mt-1">
        <li class="nav-item">
            <a href="#" class="nav-link" [routerLink]="['/login']" [queryParams]="{ u: 'user' }" routerLinkActive="active">User</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" [routerLink]="['/login']" [queryParams]="{ u: 'admin' }" routerLinkActive="active">Admin</a>
        </li>
    </ul>
    <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)" class="mt-2">
        <!-- Panel -->
        <div class="panel">
            <!-- Heading -->
            <div class="panel-heading">
                <h4><b> Login </b></h4>
            </div>
    
            <!-- Body -->
            <div class="panel-body">
                <div *ngIf="loginError" class="danger-color">
                    {{ loginError }}
                </div>
                <div class="form-group">
                    <label for="username" class="control-label">Username/Email ID*</label>
                    <input type="text"
                        id="username"
                        class="form-control"
                        ngModel
                        name="username"
                        #username="ngModel"
                        required>
                    <div class="help-block danger-color" *ngIf="username.invalid && username.touched">
                        Username number is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password*</label>
                    <input type="password" id="password" class="form-control" ngModel name="password"
                        #password="ngModel" required password>
                    <div class="help-block danger-color" *ngIf="password.invalid && password.touched">
                        Password is required.
                    </div>
                </div>
            </div>
    
            <!-- Footer -->
            <div class="panel panel-footer align-right">
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
            </div>
        </div>
    </form>
    <div class="bg-light mt-2">
        <span> Don't have an account? <a href="#" [routerLink]="['/signup']">Sign Up</a> here.</span>
    </div>
    <div class="bg-light mt-2">
        <span> Forgot password? <button type="button" class="btn btn-link" (click)="openResetPasswordWindow()">Reset</button> here.</span>
    </div>
</div>